<?xml version="1.0"?>
<config>
    <modules>
        <Ds_Similarorder>
            <version>0.1.0</version>
        </Ds_Similarorder>
    </modules>
    <frontend>
        <routers>
            <similarorder>
                <use>standard</use>
                <args>
                    <module>Ds_Similarorder</module>
                    <frontName>similarorder</frontName>
                </args>
            </similarorder>
        </routers>
        <layout>
            <updates>
                <similarorder>
                    <file>similarorder.xml</file>
                </similarorder>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<similarorder>
				<use>admin</use>
				<args>
					<module>Ds_Similarorder</module>
					<frontName>similarorder</frontName>
				</args>
			</similarorder>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<sales>
				<children>
					<similarorder>
						<title>Find Similar Orders</title>
						<sort_order>10</sort_order>               
						<action>similarorder/adminhtml_similarorder</action>
					</similarorder>
				</children>
			</sales>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
                    <children>
                       <sales>
                            <children>
                                <similarorder>
                                    <title>Find Similar Orders</title>
                                    <sort_order>10</sort_order>
                                </similarorder>
                            </children>
                        </sales>
                        <similarorder>
                            <title>Similarorder Module</title>
                            <sort_order>10</sort_order>
                        </similarorder>
                    </children>
                </admin>
				<!-- <admin>
					<children>
						<Ds_Similarorder>
							<title>Similarorder Module</title>
							<sort_order>10</sort_order>
						</Ds_Similarorder>
					</children>
				</admin> -->
			</resources>
		</acl>
		<layout>
			<updates>
				<similarorder>
					<file>similarorder.xml</file>
				</similarorder>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <similarorder>
                <class>Ds_Similarorder_Model</class>
                <resourceModel>similarorder_mysql4</resourceModel>
            </similarorder>
            <!-- <similarorder_mysql4>
                <class>Ds_Similarorder_Model_Mysql4</class>
                <entities>
                    <similarorder>
                        <table>similarorder</table>
                    </similarorder>
                </entities>
            </similarorder_mysql4> -->
        </models>
        <resources>
            <similarorder_setup>
                <setup>
                    <module>Ds_Similarorder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </similarorder_setup>
            <similarorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </similarorder_write>
            <similarorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </similarorder_read>
        </resources>
        <blocks>
            <similarorder>
                <class>Ds_Similarorder_Block</class>
            </similarorder>
        </blocks>
        <helpers>
            <similarorder>
                <class>Ds_Similarorder_Helper</class>
            </similarorder>
        </helpers>
    </global>
</config>